/* global */
@font-face {
    font-family: 'Arpine';
    src: url('fonts/CF\ Arpine\ Demo.ttf') format('trueType');
    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: 'Crystal Universe';
    src: url('fonts/CrystalUniverse-Regular.ttf') format('trueType');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Determination';
    src: url('fonts/determination.ttf') format('trueType');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Edges';
    src: url('fonts/Edges.ttf') format('trueType');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Fantasm and Secrets';
    src: url('fonts/Fantasm\ and\ Secrets.ttf') format('trueType');
    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: 'Hawking Boen';
    src: url('fonts/Hawking Bowen.otf') format('openType');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Loscarlo';
    src: url('fonts/Loscarlo.otf') format('openType');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Memsmark';
    src: url('fonts/Memsmark!\ Demo.ttf') format('trueType');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Mostly Bright';
    src: url('fonts/Mostly\ Bright\ Sans.otf') format('openType');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Nordminne';
    src: url('fonts/NordminneScript_PERSONAL_USE_ONLY.otf') format('openType');
    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: 'Rosellia';
    src: url('fonts/Rosellia.otf') format('openType');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Vanio Trial';
    src: url('fonts/Vanio Trial-Regular.ttf') format('trueType');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'VCR OSD Mono';
    src: url('fonts/VCR_OSD_MONO_1.001.ttf') format('trueType');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Windows';
    src: url('fonts/windows-bold[1].ttf') format('trueType');
    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: 'Worksy';
    src: url('fonts/Worksy.ttf') format('trueType');
    font-weight: lighter;
    font-style: normal;
}


html {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    
    background-color: rgb(0, 0, 0);
}
main {
    display: flex;
    align-items: flex-start;

    justify-content: center;

    padding: 60px;
    padding-left: 0px;
    padding-top: 0px;
}

.linkless {
    text-decoration: none;
    color: inherit;
}
.centered {
    display: flex;
    justify-content: center;
}
.button {
    display: inline-block;
    width: auto;
    height: auto;
    text-align: center;
    vertical-align: middle;

    margin-top: +10px;
    margin-left: +10px;

    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    border: black solid 1px;
    border-radius: 10px;
    background-color: rgb(32, 31, 34);

    transition: 150ms;
}
.button:hover {
    background-color: rgb(44, 42, 48);
    transform: scale(1.1);
    transition: 150ms;
}

/* navigation bar */
.navList {
    display: flex;
    justify-content: space-around;
    align-items: center;

    list-style-type: none;
    
    padding: 25px;
    margin: 0;

    background-color: #131314;
}

.navItem {
    transition: 250ms;
}

.navItem:hover {
    transform: scale(1.25);
    transition: 250ms;
}

.currentPage {
    color: aqua;
}


/* sidebar */
.sidebar {
    height: 100vh;
    width: 300px;
    min-width: 300px;
    max-width: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-decoration: none;

    color: white;
    background-color: #0c0b0c;
}

.quote {
    font-size: 0.75em;
    font-style: italic;
    text-align: center;
    margin: 10px;
}

.sidebar ul {
    list-style-type: none;
    padding-left: 0px;
}

.sidebar a:hover {
    color: aqua;
    text-decoration: underline;
}

/* main */


/* projects */
.title {
    font-size: 2rem;
    text-align: center;
    margin: 55px;
} 
.projects {
    display: flex;
    flex-direction: column;
}
.projectGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    justify-items: center;
}

.container {
    position: relative;
    border: 3px solid white;
    width: 500px;
    max-width: 500px;
    height: 700px;
    max-height: 700px;
    overflow: hidden;

    transition: 250ms;
}

.ProjectTag {
    display: inline-block;
    position: absolute;
    top: 2px;
    right: 15px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.85em;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 10px;

    color: white;

    padding: 5px 10px;
    
    pointer-events: none;

    z-index: 2;
}
.GenreTag {
    display: inline-block;
    position: absolute;
    top: 2px;
    left: 15px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.85em;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 10px;

    color: white;

    padding: 5px 10px;
    
    pointer-events: none;

    z-index: 2;
}


.container:hover {
    transform: scale(1.05);
    transition: 250ms;
}

.cover {
    opacity: 0.55;
    object-fit: cover;
    display: block;
    margin: 0 auto;

    transition: 250ms;
}
.cover:hover {
    opacity: 0.85;
    transition: 250ms;
}

.text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;

    pointer-events: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.egoistMachine-title {
    font-family: 'Hawking Bowen', Arial, sans-serif;
    font-size: 4.5em;
    padding: 0;
    margin: 20px;

    text-align: center;

    pointer-events: none;

    text-shadow: 0px 0px 10px #00bbff;
}
.extractivism-title {
    font-family: 'Vanio Trial', Arial, sans-serif;
    font-size: 3.2em;
    padding: 0;
    margin: 20px;

    text-align: center;

    pointer-events: none;
}
.DLBY-title {
    font-family: 'Loscarlo', Arial, sans-serif;
    font-size: 4em;
    padding: 0;
    margin: 20px;

    text-align: center;

    pointer-events: none;
}
.macintosh-title {
    font-family: 'VCR OSD Mono', Arial, sans-serif;
    font-size: 3.5em;
    padding: 0;
    margin: 20px;

    text-align: center;

    pointer-events: none;
}
.SMRC-title {
    font-family: 'Rosellia', Arial, sans-serif;
    font-size: 3em;
    padding: 0;
    margin: 20px;

    text-align: center;

    pointer-events: none;
}
.stevenUniverse-title {
    font-family: 'Crystal Universe', Arial, sans-serif;
    font-size: 2.7em;
    padding: 0;
    margin: 20px;

    text-align: center;

    pointer-events: none;
}
.UEH-title {
    font-family: 'Worksy', Arial, sans-serif;
    font-size: 5.5em;
    padding: 0;
    margin: 20px;

    text-align: center;

    pointer-events: none;
}
.UEHBook-title {
    font-family: 'Mostly Bright', Arial, sans-serif;
    font-size: 4em;
    padding: 0;
    margin: 20px;

    text-align: center;

    pointer-events: none;
}
.favorita-title {
    font-family: 'Fantasm and Secrets', Arial, sans-serif;
    font-size: 3.5em;
    padding: 0;
    margin: 20px;

    text-align: center;

    pointer-events: none;
}
.BVV-title {
    font-family: 'Edges', Arial, sans-serif;
    font-size: 3em;
    padding: 0;
    margin: 20px;

    text-align: center;

    pointer-events: none;
}

.minesweeper-title {
    font-family: 'Memsmark', Arial, sans-serif;
    font-size: 3em;
    padding: 0;
    margin: 20px;

    text-align: center;

    pointer-events: none;
}
.penumbra-title {
    font-family: 'Determination', Arial, sans-serif;
    font-size: 3.5em;
    padding: 0;
    margin: 20px;

    text-align: center;

    pointer-events: none;
}
.TTdC-title {
    font-family: 'Arpine', Arial, sans-serif;
    font-size: 2.5em;
    padding: 0;
    margin: 20px;

    text-align: center;

    pointer-events: none;
}

.project-desc {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 20px;
    
    text-align: justify;

    pointer-events: none;

    text-shadow: 3px 3px 1px #000000;
}
.credits {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.75rem;

    pointer-events: none;
    text-shadow: 2px 2px 1px #000000;
}

/* project projects */
.egoistMachine-ProjectTitle {
    font-size: 5em;
    font-family: 'Hawking Bowen', Arial, sans-serif; 
    
    text-shadow: 0px 0px 10px #00bbff;

}

.newslike-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5rem;
    text-align: justify;

    margin: 60px;
}

/* blog */


/* doing now */
